.card__title {
  max-width: 100%;
  margin: 8px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3b82f6;
}