.navigation__button-categories {
  min-width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-right: 12px;
  border: 1px solid #3b82f6;
  background-color: transparent;
  color: #3b82f6;
}

@media screen and (max-width: 466px) {
  .navigation__button-categories {
    margin-right: 0;
  }
}