.card__price {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1e293b;
}