.card__additional-info {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748b;
}