@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/body/body.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/container/container.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/__text/_hide/button__text_hide.css);

/*===== HEADER =====*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__buttons-container/header__buttons-container.css);
@import url(../blocks/header/__button-login/header____button-login.css);
@import url(../blocks/header/__button-new-ad/header__button-new-ad.css);
@import url(../blocks/header/__button-add-icon/header__button-add-icon.css);
@import url(../blocks/header/__button-login-icon/header__button-login-icon.css);

/*===== MAIN =====*/
@import url(../blocks/main/main.css);
@import url(../blocks/navigation/navigation.css);
@import url(../blocks/navigation/__container/navigation__container.css);
@import url(../blocks/navigation/__title/navigation__title.css);
@import url(../blocks/navigation/__low-res-container/navigation__low-res-container.css);
@import url(../blocks/navigation/__button-categories/navigation__button-categories.css);
@import url(../blocks/navigation/__form/navigation__form.css);
@import url(../blocks/navigation/__form-field/navigation__form-field.css);
@import url(../blocks/navigation/__form-button/navigation__form-button.css);



/*@import url(../src/blocks/);*/

html {
  height: 100%;
}


.cards {
  display: flex;
  justify-content: space-between;
  
  border: 1px solid red;
}

.card {
  max-width: 306px;
  max-height: 336px;
  overflow: hidden;
  
  
  
  border: 1px solid red;
}

.card__photo-container {
  height: 240px;
  display: flex;
  border-radius: 4px;
  transition: ease-out .2s;
  will-change: transform;
}

.card__photo-container:hover {
  transition: ease-in .1s;
  opacity: .95;
  cursor: pointer;
}


.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.card__title {
  margin: 8px 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #3B82F6;
}

.card__price {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1E293B;
}

.card__additional-info {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #64748B;
}






















.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #1e293b;
  color: white;
}